* { margin: 0, padding: 0 }
body {
	margin: 0;
	background-color: #222222;
}
.header {
	overflow: hidden;
	background-color: #444444;
}
.header button {
	float: right;
	background-color: #e7e7e7;
	border: none;
	color: black;
	width: 15vw;
	height: 6vw;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 3vw;
	font-family: 'Monaco';
	cursor: pointer;
	border-radius: 4px;
	margin: 0.3em;
}
.header h1 {
	float: left;
	color: #e7e7e7;
	font-size: 4vw;
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
	margin-inline-start: 0.5em;
	font-family: 'Monaco';
}
.stats {
	overflow: hidden;
	background-color: #222222;
}
.stats div {
	float: left;
}
.stats h2 {
	color: #e7e7e7;
	font-size: 1.7vw;
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
	margin-inline-start: 0.5em;
	margin-inline-end: 0.5em;
	font-family: 'Monaco';
}
#paths_div {
	overflow: hidden;
	background-color: #181818;
}
#ants_div {
	overflow: hidden;
	background-color: #e7e7e7;
}
#ants_div h2 {
	color: #222222;
}
#rounds_div {
	overflow: hidden;
	background-color: #181818;
}
#cy {
	width: 95vw;
	height: 90vh;
}
